/* colors :
 * 	light orange/yellow: FEBF00
 *  pale blue: 4F91FF
 *  dark navy: 00091B
 *  light navy: 0F1B30
 *  almost white-blue: A8C9FF
 */

#view-history h2 span {
	font-size: 50%;
}

a, a:visited {
	color: #4a91ff;
}

a:hover {
	text-decoration: none;
}

body {
	overflow-y:			scroll;
	background-color: 	#00091B;
	color: 				#a8c9ff;
}

.activeLink {
	color: #fff !important;
}

.clickable {
	color: #a8c9ff !important;
}

.clickable span {
	color: #febf00;
	cursor: pointer;
}

.container {
	background-color: 	#0f1b30;
	border-radius: 50px;
	min-height:100%;
}

.info {
	width: 70%;
	margin: 0 auto;
}

.form-div {
}

.form-div form {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.content-header li {
	display: inline-block;	
}

.content-header ul {
	text-align: center;
	width: 100%;
}

.content-header ul li {
	width: 20%;
}

.hidden {
	display: none;
}

.js-link {
	transition:			0.75s;
	color: 				#febf00;
	cursor: 			pointer;
}

a:visited {
	color: 				#4F91FF;
}

/******
* VIEW HISTORY STYLES 
******/
#projectList {
	padding-left: 4px;
	margin-bottom: 0.5em;
}

#projectListControls {
	margin-bottom: 1.0em;
}

#projectListControls span {
	transition: 1.0s;
	text-align: center;
}

.activity-entry {
	margin-bottom: 0.25em;
}

.activity-date {
	font-family: monospace;
}

.activity-duration {
}

.activity-description {
	padding-left: 2.0em;
	padding-right: 2.0em;
}

.clear {
	clear: both;
}

.icons img {
	cursor: pointer;
}

.e-icon {
	height: 0.75em;
	width: 0.75em;
	margin-left: 0.5em;
}
.d-icon {
	height: 0.75em;
	width: 0.75em;
	margin-left: 0.5em;
}
.fr {
	margin-left: 0.5em;
	float: right;
}

.fl {
	float: left;
	margin-right: 0.5em;
}

#history-list {
	overflow: auto;
}
